<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
<div class="main">
    <header class="main-header">
        <h1 class="main-title">Steve's Electronics</h1>
    </header>
    <section class="main-content">
        <div class="image">
            <div class="counter">
                <div class="counter-top">
                    Connect in
                </div>
                <div class="counter-timer">
                    20
                </div>
                <div class="counter-units">
                    seconds
                </div>
            </div>
        </div>
    </section>
</div>
</body>
</html>
