// Apply a natural box layout model to all elements
// but allowing components to change
// http://www.paulirish.com/2012/box-sizing-border-box-ftw/


html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

body {
    margin: 0;
}

.main {
    display: flex;
    flex-direction: column;
    height: 100vh;

    &-header {
        background-color: #000000;
        flex: 1;
    }

    &-title {
        color: #FFFFFF;
        text-align: center;
        margin-top: 40px;
    }

    &-content {
        padding: 5px;
        flex: 5;
        display: flex;
        flex-direction: column;
    }
}

.image {
    background-size: contain;
    background: url('../images/wifi_v2.jpg') no-repeat center center;
    height: 100%;
    position: relative;

    &-active {
        width: 90%;
    }
}

.counter {
    display: flex;
    flex-direction: column;
    background-color: rgba(0,0,0,0.5);
    flex: 1;
    position: absolute;
    bottom: 20px;
    width: 100%;
    text-shadow: 0 0 2px #000000;
    color: #FFFFFF;

    &-top {
        flex: 1;
        text-align: center;
        font-size: 2.0rem;
    }

    &-timer {
        flex: 3;
        text-align: center;
        font-size: 3.0rem;
        font-weight: bold;
        line-height: 100%;
    }

    &-units {
        flex: 1;
        text-align: center;
        font-size: 1.5rem;
        font-weight: bold;
        color: rgba(255,255,255,0.9);
    }
}





